@font-face {
  font-family: "Hobeaux";
  src: url("https://cdn.jsdelivr.net/gh/LeonLisinski/carrd-assets@main/gyalaktika/hobeaux-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
